deepspeed
git+https://github.com/huggingface/transformers
torch
wandb
openai
datasets
evaluate
numpy
pandas
pillow
matplotlib
scikit-learn
xgboost
catboost
lightgbm
accelerate
sentencepiece
shap
optuna
configargparse
qhoptim
networkx
pytorch-lightning
pytorch-tabnet
tensorflow
keras
einops
lifelines
h5py
loguru
ray
